.calculator{
    display: flex;
    width: 300px;
    height:430px;
    flex-wrap: wrap;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
    width: 280px;
    
    
}
.display{
    background-color: #102A43;
    height: 110px;
    width: 265px;
    flex-shrink: 0;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    
    font-family: 'Digital-7 Mono', monospace;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
    


button{
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 100vh;
}

#reset{
    background-color: rgb(240, 145, 145);
}

button:active {
    transform: scale(0.95);
}